<% if user_signed_in? %>
  <div><%= current_user.email %></div>
  <div><%= link_to 'Выход', destroy_user_session_path, method: :delete %></div>
<% else %>
  <div><%= link_to 'Войти', new_user_session_path %></div>
  <div><%= link_to 'Зарегистрироваться', new_user_registration_path %></div>
<% end %>